@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans');
@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter', sans-serif;
  }
}

* {
  box-sizing: border-box;
}

html,
body,
#root,
#main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

body {
  background: #f0f0f0;
  font-family: 'Inter', sans-serif;
}

canvas {
  touch-action: action;
}

h1 {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
}